@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

all {
    margin: 0;
    padding: 0;
}

body {
    top: 0px;
    left: 0px;
    background: #4DA1FA 0% 0% no-repeat padding-box;
    opacity: 1;
    align-items: center;
}

li {
    list-style-type: none;
}

.navbar-bar {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.navbar-ul-list {
    position: relative;
    top: 48px;
    right: 134px;
    width: 661px;
    height: 27px;
    opacity: 1;
    display: flex;

}

.logo-img {
    position: relative;
    top: 38px;
    left: 135px;
    width: 224px;
    height: 45px;
    background: transparent url('img/Toonofy-Logo.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

#navhome {
    top: 48px;
    left: 1125px;
    width: 58px;
    height: 27px;
    text-align: center;
    font: normal normal normal 20px/27px Segoe UI;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0px;
    color: #0052AA;
    opacity: 1;
}

#navol {
    top: 48px;
    left: 1226px;
    width: 106px;
    height: 27px;
    text-align: center;
    font: normal normal normal 20px/27px Segoe UI;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0px;
    color: #0052AA;
    opacity: 1;
}

#navylp {
    top: 48px;
    left: 1375px;
    width: 32px;
    height: 27px;
    text-align: center;
    font: normal normal normal 20px/27px Segoe UI;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

#navwork {
    top: 48px;
    left: 1450px;
    width: 124px;
    height: 27px;
    text-align: center;
    font: normal normal normal 20px/27px Segoe UI;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0px;
    color: #0052AA;
    opacity: 1;
}

#navvid {
    top: 48px;
    left: 1617px;
    width: 68px;
    height: 27px;
    text-align: center;
    font: normal normal normal 20px/27px Segoe UI;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0px;
    color: #0052AA;
    opacity: 1;
}

#navlog {
    top: 48px;
    left: 1728px;
    width: 58px;
    height: 27px;
    text-align: center;
    font: normal normal normal 20px/27px Segoe UI;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0px;
    color: #0052AA;
    opacity: 1;
}

.navbar-ul-list li {
    margin-left: 43px;
    text-transform: capitalize;
}

#mainHeadleft {
    margin: 143px auto 0;
    top: 0px;
    left: 0px;
    width: 1250px;
    height: 79px;
    text-align: left;
    font: normal normal normal 58px/79px Nunito;
    letter-spacing: 0px;
    color: #E4E4E4;
}

#mainHeadRight {
    top: 0px;
    left: 722px;
    width: 528px;
    height: 79px;
    text-align: left;
    font: normal normal bold 58px/79px Nunito;
    letter-spacing: 0px;
    color: #FFFFFF;
}

#main-animation {
    top: 0;
    left: 0;
    display: block;
    margin: 23px auto;
    width: 1651px;
    height: 763px;
    background: url('assets/map-animation-800x600-phone-005-1.png') no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 35px;
    opacity: 1;
}

.animation-box {
    height: fit-content;
}

#ytbtn {
    position: relative;
    top: -465.5px;
    max-width: 135px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*background: #FC2222 0% 0% no-repeat padding-box;*/
    /*box-shadow: 10px 10px 10px #00000045;*/
    opacity: 1;
}

#contentHeaderleft {
    margin: 75px auto 0;
    top: 0px;
    left: 0px;
    width: 1482px;
    height: 79px;
    text-align: left;
    font: normal normal normal 58px/79px Nunito;
    letter-spacing: 0px;
    color: #E4E4E4;
}

#contentHeaderRight {
    color: #FFFFFF;
}

.content-icons {
    margin: 23px 135px;
    width: auto;
    height: auto;
    background: transparent radial-gradient(closest-side at 50% 50%, #48A4F6 0%, #2F8AE4 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #72BBFF;
    border-radius: 35px;
    opacity: 1;
}

.content-ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

#content-ul-first {
    margin-top: 150px;
}

#content-ul-last {
    margin-bottom: 64px;
}

/*.content-ul li{
    margin-top: 50px;
}*/
.content-ul>li:first-child {
    margin-left: 150px;
}

.content-ul>li:last-child {
    margin-right: 150px;
}
.content-ul li ul{
    padding: 0;
}


.content-ul li ul li p {
    position: relative;
    margin: 0;
    margin-bottom : 86px;
    top: -25px;
    left: 0;
    width: fit-content;
    height: 35px;
    text-align: center;
    font: normal normal bold 26px/65px Nunito;
    letter-spacing: 1.3px;
    color: #005AB2;
    opacity: 1;
}
.context-text-color{
    color: #E4E4E4;
}
